
.botones button:hover{
    transform: scale(1.05);
}

button{
    border:none;
    padding:12px 15px;
    border-radius:12px;
    cursor:pointer;

    background:#0b5d3b;
    color:white;
    font-weight:bold;
}

#btnMusica{
    position:absolute;

    top:15px;
    right:15px;

    padding:8px 10px;

    font-size:12px;

    border-radius:50px;

    background: rgba(11, 93, 59, 0.85);

    z-index:100;
}
